################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PacMan/.vs/PacMan/v16
/PacMan/PacMan/obj
/PacMan/PacMan/bin/Debug/netcoreapp3.1
/PacMan/PacMan.Tests/bin/Debug/netcoreapp3.1
/PacMan/PacMan.Tests/obj
/PacMan/.vs/PacMan/DesignTimeBuild
